{% extends "layout.html" %}

{% block title %}
   Add a book
{% endblock %}

{% block main %}
    <!-- Flash message alert -->
     {% with messages = get_flashed_messages() %}
        {%if messages %}
        <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ messages[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

     {% endwith %}

    <!-- Book form -->
    <form action="/" method="post" class="d-flex justify-content-center align-items-center">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="book_title" placeholder="Title of the book" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="author" placeholder="Author" type="text">
        </div>
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="status" placeholder="Author" type="text">
                <option value="to_read">To read</option>
                <option value="currently_reading">Currently reading</option>
                <option value="read">Read</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit"> Save your book! </button>
    </form>

    <!-- Auto-hide the flash message after three seconds -->
    <script>
        setTimeout(() => {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.classList.add('fade-out');
                setTimeout(() => flashMessage.remove(), 500);
            }
        }, 3000);
    </script>
{% endblock %}